html {
    scroll-behavior: smooth;
}

body {

    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    font-size: 15px;
    color: #777777;
}

h1 {
    letter-spacing: 10.8px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-size: 48px;
}

h4 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5em;
}

li {
    display: inline-block;
    width: 4.5%;
}

a:hover {
    color: #AD9966
}

.nav-link {
    letter-spacing: 2px;
    font-weight: 500;
    width: 50px;
    font-style: bold;
    text-decoration: none;
    color: black;
    font-size: 13px;
    transition: 0.3s ease;
}

.ativado {
    color: #AD9966
}

.nav-logo img {
    width: 66.81px;
    height: 79.38px;
    vertical-align: middle;
}

header>ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
}

.nav-logo {
    width: 20%;
    vertical-align: middle;
}

#sec01 {
    background-image: url(imagens/banner-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 80%;
}

#roof {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.food-menu {
    color: white;
    font-size: 48px;
    letter-spacing: 10.8px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-bottom: 2.5%;
}

.home2menu {
    margin-top: 5%;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.seta-direita {
    width: 24px;
    fill: #ffffff;
    vertical-align: middle;
    margin: 0 10px;
}

html {
    scroll-behavior: smooth;
}

body {

    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.banner {
    position: sticky;
}

li {
    display: inline-block;
    width: 4.5%;
}

.drop-seta {
    width: 11px;
    margin-left: 6%;
}

li:hover a,
li:hover svg {
    color: #AD9966;
    fill: #AD9966;
}


.nav-link {
    letter-spacing: 2px;
    font-weight: 500;
    width: 50px;
    font-style: bold;
    text-decoration: none;
    color: black;
    font-size: 13px;
    transition: 0.3s ease;
}

.ativado {
    color: #AD9966
}

.nav-logo img {
    width: 66.81px;
    height: 79.38px;
    vertical-align: middle;
}

header>ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
}

.nav-logo {
    width: 20%;
    vertical-align: middle;
}

/* - DROPDOWN  - */
#drop {
    position: relative;
}

#dropdown {
    text-align: left;
    padding-left: 20px;
    position: absolute;
    background-color: white;
    width: 180%;
    height: 15vh;
    top: 100%;
    padding-top: 5vh;
    opacity: 0;
    z-index: -100;
    transition: 0.3s ease;
    gap: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;

}

#drop:hover #dropdown {
    opacity: 1;
    z-index: 99;
}

.dptp {
    transition: 0.3s ease;
    white-space: nowrap;
}

#dropdown .dptp {
    text-decoration: none;
    color: black;
}

#dropdown .dptp:hover {
    color: #AD9966;
}

.img1 {
    margin-top: 35%;
    margin-left: 15%;
}

.img2 {
    margin-top: -35%;
    margin-left: 55.5%;
}

.img3 {

    margin-bottom: -39%;
    margin-left: -30.2%;
}

.img4 {
    margin-top: 1%;
    margin-left: 55.5%;
}

.space {
    margin: 15px;
    right: -10px;
}

.secfinal {
    margin: auto;
    position: relative;
    margin-top: 90%;
    background-color: #04091e;
    padding: 120px 0;

}

.tamanho {
    width: 55%;
    margin: auto;
    position: relative;
    padding-bottom: 90px;
}

.final1 {
    display: inline-block;
}

.final2 {
    display: inline-block;
    position: relative;
    right: -20px;
}

.final3 {
    display: inline-block;
    position: relative;
    right: -45px;
}

.final4 {
    display: inline-block;
    position: relative;
    right: -65px;
}

.final5 {
    display: inline-block;
    position: relative;
    right: -120px;
    top: -45px;
}

.email-final {
    position: relative;
    bottom: -15px;
    padding: 10px 50px;
    background-color: #04091e;
    border: solid 1px rgba(255, 255, 255, 0.1);
    color: white;
}

.seta-final {
    position: relative;
    width: 37px;
    bottom: -30px;
    right: 40px;
    fill: white;
    background-color: #AD9966;
    padding: 7px;
}

.link-final {
    color: #777777;
    text-decoration: none;
    transition: 0.5s ease;
}

.link-final:hover {
    color: #AD9966;
}

.space {
    margin: 15px;
    right: -10px;
}

.division-final {
    position: relative;
    bottom: -60px;
}

.coração {
    fill: #AD9966;
    width: 20px;
}

.icone-final {
    width: 30px;
    fill: #AD9966;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px;
}

.div-icones {
    position: relative;
    right: -850px;
}