html {
    scroll-behavior: smooth;
}

p {
    font-size: 15px;
    color: #777777;
}

h1 {
    letter-spacing: 10.8px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-size: 48px;
}

h4 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5em;
}

body {

    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

li {
    display: inline-block;
    width: 4.5%;
}

a:hover {
    color: #AD9966
}

.nav-link {
    letter-spacing: 2px;
    font-weight: 500;
    width: 50px;
    font-style: bold;
    text-decoration: none;
    color: black;
    font-size: 13px;
    transition: 0.3s ease;
}

.ativado {
    color: #AD9966
}

.nav-logo img {
    width: 66.81px;
    height: 79.38px;
    vertical-align: middle;
}

header>ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
}

.nav-logo {
    width: 20%;
    vertical-align: middle;
}

#sec01 {
    background-image: url(imagens/banner-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 400px;
    width: 80%;
}

#roof {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.food-menu {
    color: white;
    font-size: 48px;
    letter-spacing: 10.8px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: -59%;
}

.home2menu {
    margin-top: 5%;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.seta-direita {
    width: 24px;
    fill: #ffffff;
    vertical-align: middle;
    margin: 0 10px;
}

html {
    scroll-behavior: smooth;
}

body {

    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.banner {
    position: sticky;
}

li {
    display: inline-block;
    width: 4.5%;
}

.drop-seta {
    width: 11px;
    margin-left: 6%;
}

li:hover a,
li:hover svg {
    color: #AD9966;
    fill: #AD9966;
}


.nav-link {
    letter-spacing: 2px;
    font-weight: 500;
    width: 50px;
    font-style: bold;
    text-decoration: none;
    color: black;
    font-size: 13px;
    transition: 0.3s ease;
}

.ativado {
    color: #AD9966
}

.nav-logo img {
    width: 66.81px;
    height: 79.38px;
    vertical-align: middle;
}

header>ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
}

.nav-logo {
    width: 20%;
    vertical-align: middle;
}

#drop {
    position: relative;
}

#dropdown {
    text-align: left;
    padding-left: 20px;
    position: absolute;
    background-color: white;
    width: 180%;
    height: 15vh;
    top: 100%;
    padding-top: 5vh;
    opacity: 0;
    z-index: -100;
    transition: 0.3s ease;
    gap: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;

}

#drop:hover #dropdown {
    opacity: 1;
    z-index: 99;
}

.dptp {
    transition: 0.3s ease;
    white-space: nowrap;
}

#dropdown .dptp {
    text-decoration: none;
    color: black;
}

#dropdown .dptp:hover {
    color: #AD9966;
}

.menu-container {
    margin-right: -10px;
    margin-left: -15px;
}

.inf-section {
    background-color: white;
    padding: 15% 10% 5% 15%;
    margin-left: 6%;
}

.daily-titulo {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.descricao {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    max-width: 450px;
}

.menu-list-section {
    width: 30%;
    background-color: #faf5f0;
    padding: 100px 50px;
}

.fundo-bege {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

}

.titulo-appetizer {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 5px;
}

.titulo-drink-juices {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 30%;
}

.hr-personalizado {
    width: 100px;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 25px;
}

.item {
    margin-bottom: 20px;
}

.nome-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 8%;
}

.descricao-item {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #777;
    font-style: italic;
    margin-top: 6%;
}

.see-full-menu {
    line-height: 48px;
    padding: 0 30px;
    border-radius: 0px;
    background: #ad9966;
    border: 1px solid #ad9966;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top: 10%;
    transition: 0.3s ease;
}

.see-full-menu:hover {
    background: white;
    color: #AD9966;
}

.space {
    margin: 15px;
    right: -10px;
}

#sec02 {
    width: 60%;
    margin: auto;
}

.esquerda {
    display: inline-block;
    width: 49%;
}

.df {
    position: relative;
    top: 200px;
    font-size: 48px;
    letter-spacing: 10.8px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.dldf {
    position: relative;
    top: 250px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    color: #777777;
}

.see-full-menu {
    background-color: #AD9966;
    border: 1px solid #ad9966;
    color: white;
    padding: 0px 30px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    transition: 0.3s ease;
    position: relative;
    top: 210px;
}

.see-full-menu:hover {
    background-color: white;
    border: 1px solid #ad9966;
    color: #AD9966;
}

.direito {
    display: inline-block;
    width: 50%;
    height: 980px;
    background-color: rgb(250, 245, 240);
    vertical-align: middle;
    position: relative;
    left: 600px;
    top: -507px;
}

.tl {
    font-size: 21px;
    letter-spacing: 1.4px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    text-decoration: underline 2px rgba(0, 0, 0, 0.2);
    font-style: italic;
}

.single-menu {
    bottom: -100px;
    position: relative;
    padding-bottom: 160px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
}

.menu-item {
    font-weight: 500;
    text-align: center;
    color: black;
}

.dl {
    color: #777777;
    position: relative;
    left: -200px;
    bottom: -100px;
}

.il1 {
    position: relative;
    bottom: -50px;
    left: -100px;
}

.il2 {
    position: relative;
    bottom: -80px;
    left: -195px;
}

.il3 {
    position: relative;
    bottom: -140px;
    left: -160px;
}

.il4 {
    position: relative;
    bottom: -170px;
    left: -250px;
}

.il5 {
    position: relative;
    bottom: -50px;
    left: -100px;
}

.il6 {
    position: relative;
    bottom: -80px;
    left: -195px;
}

.il7 {
    position: relative;
    bottom: -140px;
    left: -160px;
}

.il8 {
    position: relative;
    bottom: -170px;
    left: -250px;
}

.il9 {
    position: relative;
    bottom: -50px;
    left: -100px;
}

.il10 {
    position: relative;
    bottom: -80px;
    left: -195px;
}

.il11 {
    position: relative;
    bottom: -140px;
    left: -160px;
}

.il12 {
    position: relative;
    bottom: -170px;
    left: -250px;
}

#sec03 {
    width: 60%;
    margin: auto;
}

.img-chef {
    position: relative;
    bottom: 600px;
    left: 100px;
}

.diretaça {
    position: relative;
    bottom: 1200px;
    left: 750px;
}

.simsalabim {
    font-size: 15px;
    line-height: 30px;
}

.sec04 {
    width: 60%;
    margin: auto;
    position: relative;
    margin-top: -50%;
}

.inside-imagem {
    position: relative;
    margin-top: -20%;
    text-align: center;
}

.back3 {
    position: absolute;
    display: inline-block;
    margin-top: -8.5%;
    background: rgba(255, 255, 255, 0.9);
    width: 45%;
    height: 400%;
    transform: translate(-50%, 15%);
    transition: 0.3s ease;
}

.main-course {
    font-size: 21px;
    letter-spacing: 1.4px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    text-decoration: underline 2px rgba(0, 0, 0, 0.2);
    font-style: italic;
    position: relative;
    bottom: 25px;
}

.chiken-steak {
    position: relative;
    color: #777777;
    top: 25px;
}

.seta1 {
    position: relative;
    top: 250px;
    right: 70px;
}

.seta2 {
    position: relative;
    top: -56.5px;
    left: 1170px;
}

.secfinal {
    margin: auto;
    position: relative;
    margin-top: 15%;
    background-color: #04091e;
    padding: 120px 0;

}

.tamanho {
    width: 55%;
    margin: auto;
    position: relative;
    padding-bottom: 90px;
}

.final1 {
    display: inline-block;
}

.final2 {
    display: inline-block;
    position: relative;
    right: -20px;
}

.final3 {
    display: inline-block;
    position: relative;
    right: -45px;
}

.final4 {
    display: inline-block;
    position: relative;
    right: -65px;
}

.final5 {
    display: inline-block;
    position: relative;
    right: -120px;
    top: -45px;
}

.email-final {
    position: relative;
    bottom: -15px;
    padding: 10px 50px;
    background-color: #04091e;
    border: solid 1px rgba(255, 255, 255, 0.1);
    color: white;
}

.seta-final {
    position: relative;
    width: 37px;
    bottom: -30px;
    right: 40px;
    fill: white;
    background-color: #AD9966;
    padding: 7px;
}

.link-final {
    color: #777777;
    text-decoration: none;
    transition: 0.5s ease;
}

.link-final:hover {
    color: #AD9966;
}

.space {
    margin: 15px;
    right: -10px;
}

.division-final {
    position: relative;
    bottom: -60px;
}

.coração {
    fill: #AD9966;
    width: 20px;
}

.icone-final {
    width: 30px;
    fill: #AD9966;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px;
}

.div-icones {
    position: relative;
    right: -850px;
}